<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1> Your Favorited Movies Reviewed</h1>
    <p>Pommy ipsum Shakespeare a bit wonky slap-head dignified bogroll earwig, penny-dreadful it's the bees knees quid golly gosh don't get your knickers in a twist through the dales. off the hook bowler hat spend a penny. </p>
    <p><%= link_to "Sign up to write a review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>
<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
    </div>
  <% end %>
</div>
